# This is an example '.env' file.
# It contains the environmental variables for development
# You would provide these directly in production (e.g. Heroku)
# In Development, you can copy this file to '.env' to pass env-vars

NODE_ENV=development
PORT=3000
POWERUP_NAME=Notes
POWERUP_ID=664dbe2e9db752ce5c1b0f95
POWERUP_APP_KEY=0273996b953299304ac90dc153bd0f0f
CONTEXT_PATH=/

